<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.checkListApp">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_gettydoneicon4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gettydoneicon4"
        android:supportsRtl="true"
        android:theme="@style/ThemeOverlay.Alternative.One">
        <activity
            android:name="com.example.checkListApp.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="liberapay.com"
                    android:pathPattern="/ekroeger93/donate" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <service android:name=".time_management.TimerService" />

        <receiver
            android:name=".time_management.TimerBroadcastReceiver"
            android:exported="true"
            android:permission="BROADCAST_STICKY">
            <intent-filter>
                <action android:name="TOGGLE_TIME" />
            </intent-filter>
        </receiver>


    </application>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>